<div class="gist-card">
  <div class="creator flex-order-1 col-12 d-flex">
    <div class="d-lg-inline-block d-none v-align-top mt-1">
        <a class="d-inline-block"><%= image_tag @user.avatar_url, class: "avatar" %></a>
    </div>
    <div class="d-inline-block px-lg-2 px-0 w-100">
      <div class="d-flex justify-content-between">
        <span>
            <%= link_to "#{@gist.user.githubname}", "https://gist.github.com/#{@user.githubname}", class: "creator-githubname" %>
            / <a href="https://gist.github.com/<%= @user.githubname %>/<%= @gist.gist_id %>"><strong><%= @gist.gist_id %></strong></a>
        </span>
        <% if @modal %>
          <div data-toggle="modal" data-target="#Gist<%= @gist.id%>" class="options">
            <i class="fas fa-cog"></i>
          </div>
        <% end %>
      </div>
      <div class="timestamp">
        Created <time-ago><%= distance_of_time_in_words(@gist.date, DateTime.now) %> ago</time-ago>
      </div>
    </div>
  </div>
  <script src="https://gist.github.com/<%= @user.githubname %>/<%= @gist.gist_id %>.js"></script>
</div>

<% unless @full %>
  <script>
    let gists<%= @gist.id %> = document.querySelectorAll(".gist-data")
    gists<%= @gist.id %>.forEach((gist) => {
      gist.classList.add("small-gist")
    })
    delete gists
  </script>
<% end %>
<% if @modal %>
  <%= render Gist::GistOptionsModalComponent.new(gist: @gist, user: @user, permitted: true) %>
<% end %>
