<div class="gist-card <%= 'disabled' if @gist.hide %>" data-gist="<%= @gist.id %>">
  <div class="creator flex-order-1 col-12 d-flex">
    <% unless params["controller"] == "users" && params["action"] == "show" %>
      <div class="d-lg-inline-block d-none v-align-top mt-1">
        <a class="d-inline-block"><%= image_tag user.avatar_url, class: "avatar" %></a>
      </div>
    <% end %>
    <div class="d-inline-block px-lg-2 px-0 w-100">
      <div class="d-flex justify-content-between">
        <span>
          <%= link_to @gist.user.githubname, user_path(slug: @gist.user.githubname), class: "creator-githubname", data: { turbolinks: false } %>
            / <strong><%= link_to @gist.gist_id, user_user_gist_path(@gist.user.githubname, @gist), data: { turbolinks: false } %></strong>
        </span>
        <% if modal %>
        <div class="d-flex">
          <% if permitted? %>
            <%= link_to hide_gist_path(id: @gist.id) + "#gist#{@gist.id.to_s}", data: { turbolinks: false } do %>
              <i class="fas <%= @gist.hide ? "fa-eye-slash" : "fa-eye" %>"></i>
            <% end %>

            <div data-toggle="modal" data-target="#Gist<%= @gist.id%>" class="options">
              <i class="fas fa-cog"></i>
            </div>

            <%= link_to user_user_gist_path(@gist.user.githubname, @gist), confirm: 'Are you sure?', method: :delete do %>
              <i class="fas fa-trash ml-2"></i>
            <% end %>
          <% end %>
        </div>
        <% end %>
      </div>
      <div class="timestamp">
        Created <time-ago><%= distance_of_time_in_words(@gist.date, DateTime.now) %> ago</time-ago>
      </div>
    </div>
  </div>
  <%= render Gist::FilesComponent.new(gist: @gist, full: full, current_user: current_user) %>
</div>

<%= render Gist::GistOptionsModalComponent.new(gist: @gist, user: user, permitted: @permitted) %>
