<div class="gist-card">
  <div class="gist-info">
    <div class="gist-hide">
      <%= link_to hide_gist_path(id: @gist.id) + "#gist#{@gist.id.to_s}", method: :post, remote: true do %>
        <i class="fas <%= @gist.hide ? "fa-eye" : "fa-eye-slash" %>"></i>
      <% end %>
    </div>
    <div class="gist-star">
      <%= link_to star_gist_path(id: @gist.id) + "#gist#{@gist.id.to_s}", method: :post, remote: true do %>
        <i class="<%= @gist.star ? "fas" : "far" %> fa-star"></i>
      <% end %>
    </div>
    <div class="language">
      <% @gist.languages_percent.each do |language, percent| %>
        <img class="language-icon" src="<%= Language.find_by_name(language.capitalize).img_url %>" alt="<%= language %>"> <%= percent.to_i %>%
      <% end %>
    </div>
    <div class="files">
      <%= pluralize(@gist.gist_files.count, "File") %>:
      <% @gist.gist_files.first(3).each do |file| %>
        <%= link_to file do %>
          <%= file.filename %>
        <% end %>
      <% end %>
      <% if @gist.gist_files.count > 3 %>
        ...
      <% end %>
    </div>
    <div class="comments">
      <%= @gist.comments %> <i class="far fa-comment"></i>
    </div>
    <div class="gist-label d-flex">
      <% @gist.labels.each do |label| %>
        <%= label.name %>
      <% end %>
      <div class="add-label">
        <%= render "gist_labels/form", gist_label: GistLabel.new, gist: @gist, class: "hidden" %>
      </div>

    </div>
  </div>
  <div class="date">
    Created: <%= DateTime.strptime(@gist.date).strftime("%e %b %Y %H:%M:%S%p")
 %>
  </div>
</div>
