<div class="gist-card">
  <div class="creator flex-order-1 col-lg-7 col-12 d-flex">
    <div class="d-lg-inline-block d-none v-align-top mt-1">
        <a class="d-inline-block"><img class="avatar" src="https://avatars0.githubusercontent.com/u/28539586?s=60&amp;v=4"alt="<%= @gist.user.githubname %>"></a>
    </div>
    <div class="d-inline-block px-lg-2 px-0">
      <span>
          <%= link_to "#{@gist.user.githubname}", "https://gist.github.com/#{@user.githubname}", class: "creator-githubname" %>
          / <a href="https://gist.github.com/<%= @user.githubname %>/<%= @gist.gist_id %>"><strong><%= @gist.gist_id %></strong></a>
      </span>
      <div class="timestamp">
        Created <time-ago datetime="2020-08-24T09:26:53Z" class="no-wrap" title="24 Aug 2020, 10:26 BST"><%= distance_of_time_in_words(@gist.date, DateTime.now) %> ago</time-ago>
      </div>
    </div>
  </div>
  <script src="https://gist.github.com/<%= @user.githubname %>/<%= @gist.gist_id %>.js"></script>
</div>

<script>
  let gists<%= @gist.id %> = document.querySelectorAll(".gist-data")
  gists<%= @gist.id %>.forEach((gist) => {
    gist.classList.add("small-gist")
  })
  delete gists
</script>
