<div class="gist-card">
  <div class="gist-info">
    <% unless controller_is_users_show?(params) %>
      <div class="gist-hide">
        <%= link_to hide_gist_path(id: @gist.id) + "#gist#{@gist.id.to_s}", method: :post do %>
          <i class="fas <%= @gist.hide ? "fa-eye-slash" : "fa-eye" %>"></i>
        <% end %>
      </div>
      <div class="gist-star">
        <%= link_to star_gist_path(id: @gist.id) + "#gist#{@gist.id.to_s}", method: :post, remote: true do %>
          <i class="<%= @gist.star ? "fas" : "far" %> fa-star"></i>
        <% end %>
      </div>
    <% end %>
    <div class="language">
      <% @gist.languages_percent.each do |language, percent| %>
        <% if Language.find_by_name(language&.capitalize) %>
          <img class="language-icon" src="<%= Language.find_by_name(language.capitalize).img_url %>" alt="<%= language %>"> <%= percent.to_i %>%
        <% end %>
      <% end %>
    </div>
    <div class="files">
      <%= pluralize(@gist.gist_files.count, "File") %>:
      <% @gist.gist_files.first(3).each do |file| %>
        <%= link_to file, data: { turbolinks: false } do %>
          <%= file.filename %>
        <% end %>
      <% end %>
      <% if @gist.gist_files.count > 3 %>
        ...
      <% end %>
    </div>
    <div class="comments">
      <%= link_to @gist_url, target: "_blank" do %>
        <%= @gist.comments %> <i class="far fa-comment"></i>
      <% end %>
    </div>
    <% if @full %>
      <button type="button" class="gist-options" data-toggle="modal" data-target="#Gist<%=  @gist.id%>">
        <i class="fas fa-cog"></i>
      </button>
    <% end %>
  </div>
  <div class="date">
    Created: <%= DateTime.strptime(@gist.date).strftime("%e %b %Y %H:%M:%S%p")
 %>
  </div>
</div>

<% if @full %>
  <%= render Gist::GistOptionsModalComponent.new(gist: @gist, edit_url: @edit_url, user: @user, permitted: permitted?) %>
<% end %>
