<div class="modal fade" id="Gist<%= @gist.id%>" tabindex="-1" role="dialog" aria-labelledby="Gist<%= @gist.id%>" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Options</h5>
        <div class="edit-gist">
                <%= link_to @edit_url, target: "_blank" do %>
                  <i class="far fa-edit"></i>
                <% end %>
              </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="gist-options-modal">
          <% unless controller_is_users_show?(params) %>
            <% if permitted? %>
              <% @gist.labels.each do |label| %>
                <%= label.name %>
              <% end %>
              <div class="add-label">
                <%= render "gist_labels/form", gist_label: GistLabel.new, gist: @gist, class: "hidden" %>
              </div>
              <div class="add-group">
                <%= render "group_gists/form", user: @user, gist: @gist %>
              </div>
            <% end %>
          <% end %>
          <div class="group-slugs">
            <% @gist.groups.each do |group|%>
              <%= link_to group, data: { turbolinks: false } do %>
                <div class="group-slug" style="border-bottom: 3px solid <%= group.color %>">
                  <%= group.slug %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
