<div class="new-group-form">
  <% if group.new_record? %>
    <%= simple_form_for group do |f| %>
      <%= f.input :name, label: false %>
      <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  <% else %>
    <%= simple_form_for group do |f| %>
      <%= f.input :name %>
      <%= f.input :slug, hint: "Set a unique prefix, to automatically import your gists. Min. length 3." %>
      <%= f.input :public_group, as: :radio_buttons %>
      Select a color
      <%= f.color_field :color, label: "Color", hint: "Set a color" %>
      <br>
      <br>
      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>
