<div class="new-group-form">
  <% if group.new_record? %>
    <%= simple_form_for group do |f| %>
      <%= f.input :name, label: false %>
      <%= f.submit "Create", class: "btn github-btn--green" %>
    <% end %>
  <% else %>
    <%= simple_form_for group do |f| %>
      <%= f.input :name %>
      <%= f.input :slug, hint: "Set a unique prefix, to automatically import your gists. Min. length 3." %>
      <%= f.input :public_group, wrapper: :custom_boolean_switch %>
      Select a color
      <%= f.color_field :color, label: "Color", hint: "Set a color" %>
      <br>
      <br>
      <div class="d-flex justify-content-between">
        <%= f.submit "Save", class: "btn github-btn--green" %>
        <% if group.archived %>
          <%= link_to 'Reopen', group_archive_path(group), class: 'archive-button', data: { confirm: 'Are you sure you want to reopen this group?'} %>
        <% else %>
          <%= link_to 'Archive', group_archive_path(group), class: 'archive-button', data: { confirm: 'Are you sure you want to archive this group?'} %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
