<div class="top">
  <div class="top-left">
    <% if @group.personal %>
      <h2><%= @group.user.githubname %>'s Collection</h2>
    <% else %>
      <h2><%= @group.name %> Contributors</h2>
    <% end %>
    <% @group.members.each do |member| %>
      <%= link_to user_path(member.githubname) do %>
        <div class="group-member-label">
          <img src="<%= member.avatar_url.present? ? member.avatar_url : 'https://avatars3.githubusercontent.com/u/583231?v=4' %>" alt="">
          <span><%= member.githubname %></span>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="top-right">
    <% if policy(@group).logged_in_and_owner_or_admin? %>
    <h2>Options</h2>
      <button type="button" class="group-member-label" data-toggle="modal" data-target="#GroupDetailsModal">
        Group Details
      </button>
      <button type="button" class="group-member-label" data-toggle="modal" data-target="#AddMemberModal">
        Add Member
      </button>
    <% end %>
  </div>
</div>
<div class="text-center">
  <% if @group_gists.empty? %>
    Oh no! <b><%= @group.user.githubname %></b> doesnt have any gists yet!
  <% else %>
</div>
  <% @group_gists.each do |gist| %>
    <div class="feed">
      <div class="user-feed">
        <%= gist.description %>
      </div>
      <div class="group-feed">
        <%= render GistFiles::CreatedAtComponent.new(gist) %>
        <%= render GistFiles::FileComponent.new(gist) %>
      </div>
      <div class="right-feed">
        <% if current_user.already_personal_group_gist?(gist.id) %>
            <button class="bookmark">
              <i class="fas fa-bookmark"></i>
            </button>
        <% else %>
          <%= simple_form_for GroupGist.new do |f| %>
            <%= f.input :user_gist_id, as: :hidden, input_html: { value: gist.id } %>
            <%= f.input :group_id, as: :hidden, input_html: { value: current_user.personal_group.id } %>
            <%= button_tag( :class => "bookmark") do %>
              <i class="far fa-bookmark"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
