<div class="group-container" data-turbolinks="false">
  <h2>Members of <%= @group.name %></h2>
  <% if policy(@group).logged_in_and_owner? %>
    <button type="button" class="group-member-label" data-toggle="modal" data-target="#GroupDetailsModal">
      Group Details
    </button>
    <button type="button" class="group-member-label" data-toggle="modal" data-target="#AddMemberModal">
      Add Members
    </button>
  <% end %>

  <% @group.members.each do |member| %>
    <%= link_to user_path(member.githubname) do %>
      <div class="group-member-label">
        <img src="<%= member.avatar_url.present? ? member.avatar_url : 'https://avatars3.githubusercontent.com/u/583231?v=4' %>" alt="">
        <span><%= member.githubname %></span>
      </div>
    <% end %>
  <% end %>

  <div class="feed">
    <% @group_gists.each do |gist| %>
      <%= render GistFiles::CreatedAtComponent.new(gist) %>
      <%= render GistFiles::FileComponent.new(gist) %>
    <% end %>
  </div>
</div>

<!-- GroupDetails Modal -->
<div class="modal fade" id="GroupDetailsModal" tabindex="-1" role="dialog" aria-labelledby="GroupDetails" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Group Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "form", group: @group %>
      </div>
    </div>
  </div>
</div>

<!-- AddMemberModal -->
<div class="modal fade" id="AddMemberModal" tabindex="-1" role="dialog" aria-labelledby="GroupDetails" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add A User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "user_groups/form", group: @group, user_group: Usergroup.new %>
      </div>
    </div>
  </div>
</div>
