<div class="default-container">
  <div class="pt-3 mb-5">
    <div class="d-flex mb-3 px-3 px-md-4 px-lg-5">
      <h4 class="d-flex flex-wrap flex-items-center text-normal">
        <span>
          <%= link_to @user.githubname, user_path(slug: @user.githubname), data: { turbolinks: false }, class: "light" %> / <%= link_to @group.name, group_path(@group), class: "bold" %>
        </span>
      </h4>
    </div>
  </div>
  <div class="group-main flex-column flex-md-row d-flex">
    <div class="flex-shrink-0 col-12 col-md-9 mb-4 mb-md-0">
      <div class="group-main-nav mb-3 d-flex flex-items-start">
        <span class="group-stats">
          <%= @group.members.count %> Members
        </span>

        <span class="group-stats">
          <%= pluralize @group.gists.map(&:gist_files).flatten.count, "file" %>
        </span>

      </div>
      <div class="flex-shrink-0 col-12 col-md-12">
        <% if @group.gists.present? %>
          <% @group.gists.each do |gist| %>
            <%= render Gist::CardComponent.new(gist: gist, user: @user, full: true, modal: false) %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="flex-shrink-0 col-12 col-md-3">
      <div class="right-box">
        <div class="d-flex justify-content-between">
          <span class="group-about">About</span>
          <div class="options" data-toggle="modal" data-target="#GroupDetailsModal">
            <i class="fas fa-cog"></i>
          </div>
        </div>
        <%= @group.description %>
      </div>
    </div>
  </div>
</div>

<div class="group-container" data-turbolinks="false">
  <% if @group.personal && policy(@group).logged_in_and_owner_or_admin? %>
    <%= render "personal_group_show", group: @group, group_gists: @group_gists %>
  <% else %>
    <%= render "group_show", group: @group, group_gists: @group_gists %>
  <% end %>
</div>
<%= render "group_modals", group: @group, add: !@group.personal, settings: true %>
