<div class="admin-container">
  <div class="admin-user-options">
    <div class="col-sm-4">
      <div class="user-import">
        Manual Import
        <%= simple_form_for :import, url: import_for_group_path do |f| %>
          <%= f.input :user_id, collection: User.all, label_method: :githubname, label: false %>

          <%= f.submit "import" %>
        <% end %>
      </div>

      <div class="user-creation">
        Manual User Creation
        <%= simple_form_for :user, url: admin_create_path, method: :post do |f| %>
          <%= f.input :githubname, label: false %>

          <%= f.submit "create" %>
        <% end %>
      </div>
    </div>
    <div class="admin-user-section col-sm-7">
      <table>
        <th>
          User
        </th>
        <th>
          Gists
        </th>
        <th>
          Groups
        </th>
        <th>
          Files
        </th>
        <th>
          Code Lines
        </th>
        <% @users.each do |user| %>
          <tr>
            <td class="cell lg">
              <%= link_to user.githubname, user_path(slug: user.githubname) %>
            </td>
            <td class="cell">
              <%= user.user_gists.count %>
            </td>
            <td class="cell">
              <%= user.usergroups.count %>
            </td>
            <td class="cell">
              <%= user.gist_files.count %>
            </td>
            <td class="cell">
              <%= user.code_lines %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
