<div class="admin-container">
  <div class="admin-user-options">
    <div class="user-import">
      Manual Import
      <%= simple_form_for :import, url: import_for_group_path do |f| %>
        <%= f.input :user_id, collection: User.all, label_method: :githubname, label: false %>

        <%= f.submit "import" %>
      <% end %>
    </div>

    <div class="user-creation">
      Manual User Creation
      <%= simple_form_for :user, url: admin_create_path, method: :post do |f| %>
        <%= f.input :githubname, label: false %>

        <%= f.submit "create" %>
      <% end %>
    </div>
  </div>
  <div class="admin-user-section">
    <% @users.each do |user| %>
      <div class="user">
        <%= link_to user.githubname, user_path(slug: user.githubname) %> - <%= user.user_gists.count %>
      </div>
    <% end %>
  </div>
</div>
