<div class="dashboard-container">
  <div class="main d-flex">
    <div class="side col-12 col-md-4 col-lg-3 hide-sm">
      <div class="group-sidebar">
        <div class="group-top">
          <span>Groups</span>
          <div class="new-group-modal-trigger" data-toggle="modal" data-target="#newGroupModal">
            <i class="fas fa-layer-group"></i> New
          </div>
        </div>
        <%= simple_form_for :group_search, method: :get do |f| %>
          <%= f.input :keyword, label: false, placeholder: "Find a group..." %>
        <% end %>
        <div class="group-details">
          <ul class="group-results" >
            <% @groups.each do |group| %>
              <li>
                <%= link_to "#{group.owner.githubname} / #{group.name}", group_path(group), data: { turbolinks: false } %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-6 p-responsive mt-3 border-bottom d-flex flex-auto">
      <div class="activity">
        <h4 class="f4 mt-md-3 mt-0 text-normal">Recent activity</h4>
        <% @gists.each do |date_group| %>
          <div class="timestamp">
            Created <time-ago datetime="2020-08-24T09:26:53Z" class="no-wrap" title="24 Aug 2020, 10:26 BST"><%= distance_of_time_in_words(date_group.first, DateTime.now) %> ago</time-ago>
          </div>
          <div class="activity-group">
            <% date_group.last.each do |gist| %>
              <div class="gist-activity d-flex">
                <div class="gist-owner">
                  <%= image_tag gist.user.avatar_url , class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, height: 45, width: 45 %>
                </div>
                <div class="file-info">
                  <div class="gist-filename">
                    <%= link_to user_user_gist_path(user_slug: gist.user.githubname, id: gist.id), data: { turbolinks: false } do %>
                      <%= gist.gist_filenames.truncate(50, omission: '...') %>
                    <% end %>
                  </div>
                  <div class="files">
                    <% if gist.user == current_user %>
                      You added <span><%= pluralize(gist.gist_files.count, "new file") %></span>
                    <% else %>
                      <%= link_to gist.user.githubname, user_path(slug: gist.user.githubname), data: { turbolinks: false } %> added <span><%= pluralize(gist.gist_files.count, "new file") %></span>
                    <% end %>
                  </div>
                </div>
                <div class="group-info d-flex align-items-center hide-sm">
                  <% gist.groups_of_owner.first(3).each do |group| %>
                    <div class="group" style="background-color: <%= group.color %>; border: 1px solid;" data-color="<%= group.color %>" data-gist="<%= group.id %>">
                      <%= group.name %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="side col-12 col-md-4 col-lg-3 hide-sm">
      <div class="group-sidebar right">

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" id="new-group">
    <div class="modal-content new-group">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create a new Group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "groups/form", group: Group.new %>
      </div>
    </div>
  </div>
</div>
