<div class="default-container user-container">
  <div class="top">
    <div class="top-left">
      <h2><%= policy(@user).user_owns_profile_or_admin? ? "Your" : "#{@user.githubname.capitalize}'s" %> Groups</h2>
      <div class="user-groups">
        <% @user.groups.each do |group| %>
          <%= render Groups::LabelComponent.new(group) %>
        <% end %>
      </div>
    </div>
    <% if !@user.user_gists.present? && policy(@user).get_gists? %>
      <div class="center-section">
        <%= link_to user_user_gists_path(@user.githubname) do %>
          <div class="github-cta-button">
            Import your gists!
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="center-section">
      <button type="button" class="group-member-label" data-toggle="modal" data-target="#ImportSettings">
        Import Settings
      </button>
    </div>

    <div class="top-right">
      <% if policy(@user).update? %>
        <div class="user-create-options">
          <%= render "groups/form", group: Group.new %>
          <%= render "labels/form", label: Label.new %>
        </div>
      <% end %>
    </div>
  </div>

  <% unless @user.user_gists.present? %>
    <div class="no-user-gists">
      <% if policy(@user).user_owns_profile? %>
        You dont have any gists yet!
      <% else %>
        <%= @user.githubname.capitalize %> doesnt have any gists yet!
      <% end %>
    </div>
  <% end %>

  <% if @star_gists.present? %>
    <% @star_gists.each do |gist| %>
      <%= render Gist::CardComponent.new(gist: gist, user: current_user) %>
    <% end %>
  <% end %>

  <% if @gists.present? %>
    <% @gists.each do |gist| %>
      <%= render Gist::CardComponent.new(gist: gist, user: current_user) %>
    <% end %>
  <% end %>
</div>

<div class="modal fade" id="ImportSettings" tabindex="-1" role="dialog" aria-labelledby="ImportSettings" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Import Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "edit", user: @user %>
      </div>
    </div>
  </div>
</div>
