<div class="dashboard-container">
  <div class="main d-flex">
    <div class="side col-12 col-md-4 col-lg-3 hide-sm">
      <div class="group-sidebar">
        <div class="user-info">
          <div class="d-flex justify-content-center align-center">
            <%= image_tag @user.avatar_url , class: "avatar avatar-xl" %>
          </div>
          <h4><%= @user.githubname %></h4>
        </div>
        <div class="group-details">
          <ul class="group-results" >

          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-6 p-responsive mt-3 border-bottom d-flex flex-auto">
      <div class="gist-results">
        <div class="gist-search">
          <%= simple_form_for :search, url: user_path(slug: @user.githubname), method: :get do |f| %>
            <%= f.input :keyword, label: false, placeholder: "Search your gists" %>
          <% end %>
        </div>
        <% if @star_gists.present? %>
          <% @star_gists.each do |gist| %>
            <%= render Gist::CardComponent.new(gist: gist, user: @user, full: false, modal: true) %>
          <% end %>
        <% end %>

        <% if @gists.present? %>
          <% @gists.each do |gist| %>
            <%= render Gist::CardComponent.new(gist: gist, user: @user, full: false, modal: true) %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="side col-12 col-md-4 col-lg-3 hide-sm">
      <div class="group-sidebar right">

      </div>
    </div>
  </div>
</div>
