<%= render Gist::NewGistCountComponent.new(params[:new_gists_count], @user) %>
<div class="user-groups">
  <% @user.groups.each do |group| %>
    <div class="user-group">
      <%= group.name %>
    </div>
  <% end %>
</div>

<div class="d-flex">
  <%= render "groups/form", group: Group.new %>
  <%= render "labels/form", label: Label.new %>
</div>

<% if @star_gists.present? %>
  <% @star_gists.each do |gist| %>
    <%= render Gist::CardComponent.new(gist) %>
  <% end %>
<% end %>

<% if @gists.present? %>
  <% @gists.each do |gist| %>
    <%= render Gist::CardComponent.new(gist) %>
  <% end %>
<% end %>


