<div class="home-container">
  <div class="home-title">
    <h1>HubGist</h1>
  </div>
  <div class="banner" >
    <div class="banner-left" style="background: url(<%= asset_path('version_control.svg') %>); background-size: 100% 100%; height: calc(100vh -56px); background-repeat: no-repeat;">

    </div>
    <div class="banner-right">
      <div class="banner-top">
        <div class="banner-cta">
          <h4>
            Share
          </h4>
          <h4>
            Showcase
          </h4>
          <h4>
            Contribute
          </h4>
        </div>
      </div>
      <div class="banner-bottom">
        <%= link_to user_github_omniauth_authorize_path, class: "github-link" do %>
          <button class="github-login">
            <i class="fab fa-github github-social"></i>
            Sign in with GitHub
          </button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="stats">
    <%= link_to root_path(anchor: "stats") do %>
      <i class="fas fa-angle-double-down"></i>
    <% end %>
  </div>
  <div id="stats" class="home-stats">
    <div class="top-contributors">
      <h4>Most Gists:</h4>
      <div class="individual-contributors">
        <% @top_gist_users.each_with_index do |user, i| %>
          <%= render Users::SmallCardComponent.new(user: user, rank: i + 1, count: nil) %>
        <% end %>
      </div>
    </div>
    <div class="top-contributors">
      <h4>Most Lines:</h4>
      <div class="individual-contributors">
        <% @top_lines_users.each_with_index do |info, i| %>
          <%= render Users::SmallCardComponent.new(user: info.first, rank: i + 1, count: info.last) %>
        <% end %>
      </div>
    </div>
    <div class="top-contributors">
      <h4>Most Used Language:</h4>
      <div class="individual-contributors">
        <% @languages.each_with_index do |info, i| %>
        <div class="user-small-card <%= user_rank(i + 1) %>">
          <%= info.first %>
          <%= info.last %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
