<div class="home-container">
  <div class="home-section">
    <div class="p-responsive position-relative container-lg">
      <div class="d-md-flex flex-items-center gutter-md-spacious">
        <div class="col-md-7 text-center text-md-left">
          <h1 class="mb-3">Built for <br> developers</h1>
          <p class="home-banner-text mb-4">
            HubGist is a code sharing platform inspired by your work. You review code, manage projects, and build software alongside <%= @user_count < 100 ? "hundreds of" : @user_count %> developers.
          </p>
        </div>
        <div class="mx-auto col-sm-8 col-md-6 hide-sm">
          <div class="home-user-form text-gray py-4 px-4 px-md-3 px-lg-4" style="background: white; border-radius: 6px; color: black;">
            <%= render "devise/registrations/form", resource: User.new, resource_name: :user %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-get-started">
    <%= link_to root_path(anchor: "get-started-instructions"), data: { turbolinks: false }  do %>
      <i class="fas fa-angle-double-down"></i>
    <% end %>
  </div>
  <div class="spacer">

  </div>
  <section id="get-started-instructions" class="get-started-instructions">
    <%= render Home::GetStartedComponent.new(user_signed_in: false, user: current_user) %>
  </section>
  <div class="spacer">

  </div>
  <section class="gist-example">
    <h2>Here is an Example:</h2>
    <div class="example">
      <div class="left">
        <script src="https://gist.github.com/Haumer/650264e99e90a141b8c951dbacdb07e7.js"></script>
      </div>
    </div>
  </section>
  <div class="spacer">

  </div>
  <section id="stats">
    <h2>Contributors:</h2>
    <div class="home-stats">
      <div class="top-contributors">
        <h4>Most Gists</h4>
        <div class="individual-contributors">
          <% @top_gist_users.each_with_index do |user, i| %>
            <%= render Users::SmallCardComponent.new(user: user, rank: i + 1, count: nil) %>
          <% end %>
        </div>
      </div>
      <div class="top-contributors">
        <h4>Most Files</h4>
        <div class="individual-contributors">
          <% @top_lines_users.each_with_index do |info, i| %>
            <%= render Users::SmallCardComponent.new(user: info.first, rank: i + 1, count: info.last) %>
          <% end %>
        </div>
      </div>
      <!-- <div class="top-contributors">
        <h4>Most Used Language</h4>
        <div class="individual-contributors">
          <%# @languages.each_with_index do |info, i| %>
            <div class="user-small-card <%#= user_rank(i + 1) %> languages">
              <%#= info.first %>
              <%#= info.last %>
            </div>
          <%# end %>
        </div>
      </div> -->
    </div>
  </section>
  <div class="spacer">

  </div>
  <div class="footer">

  </div>
</div>
