<div class="get-started-container">
  <h2>Get Started</h2>
  <div class="get-started" data-controller="swap-content">
    <div class="get-started-installation-section gh-cli" data-target="swap-content.display">
      <div class="get-started-installation-section-option" data-action="click->swap-content#swap">
        <span class="bolded underlined">GitHub CLI</span> / <span class="greyed">defunkt</span>
      </div>
      <div class="get-started-installation">
        <%= render Home::InstallationComponent.new(title:false, long: false, defunkt: true) %>
      </div>
      <div class="get-started-usage">
        <%= render Home::UsageComponent.new(title: false, long: false, defunkt: true) %>
      </div>
    </div>
    <div class="get-started-installation-section defunkt d-none" data-target="swap-content.form">
      <div class="get-started-installation-section-option" data-action="click->swap-content#swap">
        <span class="greyed">GitHub CLI</span> / <span class="bolded underlined">defunkt</span>
      </div>
      <div class="get-started-installation">
        <%= render Home::InstallationComponent.new(title:false, long: false, gh: true) %>
      </div>
      <div class="get-started-usage">
        <%= render Home::UsageComponent.new(title: false, long: false, gh: true) %>
      </div>
    </div>
    <div class="get-started-ctas">
      <% if @user_signed_in %>
        <div class="profile-cta">
          <div class="github-cta-button">
            <%= link_to user_path(@user.githubname) do %>
              Visit your Profile!
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="github-cta-button pr-1">
        <%= link_to "View this project on github", "https://github.com/Haumer/gisthub", target: :blank %>
      </div>
      <div class="github-cta-button pl-1">
        <%= link_to "Gists Guide", howto_path %>
      </div>
    </div>
  </div>
</div>
