<%= render Gist::NewGistCountComponent.new(params[:new_gists_count], @user) %>
<div class="default-container">
  <div class="top">
    <div class="top-left">
      <% if policy(@user).get_gists? %>
        <%= link_to [ :get_gists, slug: @user.githubname ], method: :post do %>
          <div class="refresh-gist github-cta-button">
            <%= @gists.present? ? "Refresh" : "Import gists" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="center-section">

    </div>
    <div class="top-right">
      <% if policy(@user).import_settings? %>
        <button type="button" class="group-member-label" data-toggle="modal" data-target="#ImportSettings">
          Import Settings
        </button>
      <% end %>
    </div>
  </div>
  <div class="page-content">
    <div class="gist-search">
      <%= simple_form_for :search, url: user_user_gists_path(slug: @user.githubname), method: :get do |f| %>
        <%= f.input :keyword, label: false, placeholder: "Search your Gists" %>
      <% end %>
    </div>
    <% if @gists.present? %>
      <% @gists.each do |gist| %>
        <%= render Gist::CardComponent.new(gist: gist, user: current_user, full: true) %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="modal fade" id="ImportSettings" tabindex="-1" role="dialog" aria-labelledby="ImportSettings" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Import Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "users/edit", user: @user %>
      </div>
    </div>
  </div>
</div>
