<div class="gist-activity-calendar d-flex align-items-center flex-column">
  <h5><%= user.number_of_gists_since(Date.today - 365.day) %> Gists created in the last year</h5>
  <% calendar.each do |weekday| %>
    <div class="gist-activity-row">
      <% weekday.last.each_with_index do |day, index| %>
        <% if index.zero? && (day.cwday < Date.today.cwday) %>
          <div class="gist-activity-day" data-toggle="tooltip" data-placement="top"
             title="<%= pluralize(gists_count(day - 1.week), 'contribution') %> on <%= day -1.week %>"
             data-day="<%= day - 1.week %>">
          </div>
        <% end %>
        <div class="gist-activity-day <%= color_class(gists_count(day)) %>"
             data-toggle="tooltip" data-placement="top"
             title="<%= pluralize(gists_count(day), 'contribution') %> on <%= day %>"
             data-day="<%= day %>">
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="gist-activity">
  <% if user.group_gists.present? %>
    <div class="group-activity">
      <% user.activity_groups.each do |group| %>
        Most Recent Contributions in: <%= link_to group.name, group_path(group) %>
      <% end %>
    </div>
  <% else %>
    <div class="group-cta">
      <%= owner ? "You havent" : "#{@user.githubname} hasnt" %> contributed to any groups yet!
    </div>
  <% end %>
</div>
