<div class="gist-activity-calendar mb-2">
  <h5><%= user.number_of_gists_since(Date.today - 365.day) %> Gists created in the last year</h5>
  <% calendar.each do |weekday| %>
    <div class="gist-activity-row justify-content-between">
      <% weekday.last.each_with_index do |day, index| %>
        <% if index.zero? && (day.cwday < Date.today.cwday) %>
          <div class="gist-activity-day">
          </div>
        <% end %>
        <div class="gist-activity-day <%= color_class(gists_count(day)) %>" 
             data-toggle="tooltip" data-placement="top" 
             title="<%= pluralize(gists_count(day), 'contribution') %> on <%= day %>" 
             data-day="<%= day %>">
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<% if user.group_gists.present? %>
  <div class="gist-activity">
    <div class="group-activity">
      <% user.activity_groups.each do |group| %>
        Most Recent Contributions in: <%= link_to group.name, group_path(group) %>
      <% end %>
    </div>
  </div>
<% end %>
