<%= link_to user_path(slug: @user.githubname) do %>
  <div class="user-small-card <%= user_rank(@rank) %>">
    <%= image_tag @user.avatar_url %>
    <%= @user.githubname %>
    <%= @count.nil? ?  @user.user_gists.count : @count %>
  </div>
<% end %>
